.Rproj.user
.Rhistory
.RData
.Ruserdata
man/*.Rd
docs/
NAMESPACE
docs
.Rproj
hySpc.read.ENVI.Rproj
.DS_Store
vignettes/hySpc-read-envi.html
vignettes/hySpc-read-envi.html
vignettes/resources/intro-pkg.bib
